<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Options!</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" href="style.css" />
        
    </head>
    <body>
        <div id="app">
            <div v-show="section === 'home'">

                <header>

                    <h1>Food Options!</h1>

                    <div class="button-box">
                        <button @click="category = 'breakfast'">Breakfast</button>
                        <button @click="category = 'lunch'">Lunch</button>
                        <button @click="category = 'dinner'">Dinner</button>
                    </div>

                    
                    
                </header>


                

        <!----------------- dinner options --------------------------------------------------------------------------->

                <div class="dinner" v-show="category === 'dinner'">
                    <div class="meal-section">
                        <h2>Dinner - In</h2>
                        <div v-for="meal in meals">
                            <div  class="meal-in card" v-show="meal.mealType === 'dinnerIn'">
                                <h3 class="meal-name">{{ meal.name }}</h3>
                                <p class="meal-description">{{ meal.description }}</p>
                            </div>
                    
                        </div>
                    </div>

                    <div class="meal-section">
                        <h2>Dinner - Takeout</h2>
                        <div v-for="meal in meals">
                            <div class="meal-out card" v-if="meal.mealType === 'dinnerTakeout'">
                                <h3 class="meal-name">{{ meal.name }}</h3>
                                <p class="meal-description">{{ meal.description }}</p>
                                <a :href="`${meal.link}`" target="_blank"><p class="menu-link">Menu</p></a>

                            </div>

                        </div>
                    </div>

                    <div class="meal-section">
                        <h2>Dinner - Eat Out</h2>
                        <div v-for="meal in meals">
                            <div class="meal-out card" v-if="meal.mealType === 'dinnerEatOut'">
                                <h3 class="meal-name">{{ meal.name }}</h3>
                                <p class="meal-description">{{ meal.description }}</p>
                                <a :href="`${meal.link}`" target="_blank"><p class="menu-link">Menu</p></a>
                            </div>
                        </div>
   
                    </div>

                    <!-- <div class="meal-section">
                        <h2>Dinner - In</h2>
                        <div class="meal-in card" v-for="meal in meals.dinnerIn">
                            <h3 class="meal-name">{{ meal.name }}</h3>
                            <p class="meal-description">{{ meal.description }}</p>
                        </div>
                    </div>
                    

                    <div class="meal-section">
                        <h2>Dinner - Takeout</h2>
                        <div class="meal-out card" v-for="meal in meals.dinnerOut.takeout">
                            <h3 class="meal-name">{{ meal.name }}</h3>
                            <p class="meal-description">{{ meal.description }}</p>
                            <a :href="`${meal.link}`" target="_blank"><p class="menu-link">Menu</p></a>
                        </div>
                    </div>
                    
                
                    <div class="meal-section">
                        <h2>Dinner - Eat Out</h2>
                        <div class="meal-out card" v-for="meal in meals.dinnerOut.eatIn">
                            <h3 class="meal-name">{{ meal.name }}</h3>
                            <p class="meal-description">{{ meal.description }}</p>
                            <a :href="`${meal.link}`" target="_blank"><p class="menu-link">Menu</p></a>
                        </div>
                    </div> -->
                    
                </div>


                

        <!----------------- lunch options ------------------------------------------------------------------------>

                <div class="lunch" v-show="category === 'lunch'">

                    <div class="meal-section">
                        <h2>Lunch - In</h2>
                        <div v-for="meal in meals">
                            <div class="meal-in card" v-if="meal.mealType === 'lunchIn'">
                                <h3 class="meal-name">{{ meal.name }}</h3>
                                <p class="meal-description">{{ meal.description }}</p>
                            </div>
                            
                        </div>

                    </div>
                    

                    <div class="meal-section">
                        <h2>Lunch - Out</h2>
                        <div v-for="meal in meals">
                            <div class="meal-in card" v-if="meal.mealType === 'lunchOut'">
                                <h3 class="meal-name">{{ meal.name }}</h3>
                                <p class="meal-description">{{ meal.description }}</p>
                                <a :href="`${meal.link}`" target="_blank"><p class="menu-link">Menu</p></a>
                            </div>
                        </div>

                    </div>
                    
                </div>

                    <!-- <div class="meal-section">
                        <h2>Lunch - In</h2>
                        <div class="meal-in card" v-for="meal in meals.lunchIn">
                            <h3 class="meal-name">{{ meal.name }}</h3>
                            <p class="meal-description">{{ meal.description }}</p>
                            
                        </div>
                    </div>
                    

                    <div class="meal-section">
                        <h2>Lunch - Out</h2>
                        <div class="meal-in card" v-for="meal in meals.lunchOut">
                            <h3 class="meal-name">{{ meal.name }}</h3>
                            <p class="meal-description">{{ meal.description }}</p>
                            <a :href="`${meal.link}`" target="_blank"><p class="menu-link">Menu</p></a>
                        </div>
                    </div>
                    
                </div> -->


                

        <!----------------- breakfast options ---------------------------------------------------------------------->
                <div class="breakfast" v-show="category === 'breakfast'">



                    <div class="meal-section">
                        <h2>Breakfast - In</h2>
                        <div v-for="meal in meals">
                            <div class="meal-in card" v-if="meal.mealType === 'breakfastIn'">

                                <h3 class="meal-name">{{ meal.name }}</h3>
                                <p class="meal-description">{{ meal.description }}</p>
                        
                            </div>
                        </div>


                    </div>
                    


                    <div class="meal-section">
                        <h2>Breakfast - Out</h2>
                        <div v-for="meal in meals"  :key="meal.name" @click="selectMeal(meal)">
                            <div class="meal-in card" v-if="meal.mealType === 'breakfastOut'">
                            
                                <h3 class="meal-name">{{ meal.name }}</h3>
                                <p class="meal-description">{{ meal.description }}</p>
                                <a :href="`${meal.link}`" target="_blank"><p class="menu-link">Menu</p></a>
                            
                            </div>

                        </div>

                    </div>

                    <!-- <div class="meal-section">
                        <h2>Breakfast - In</h2>

                        <div class="meal-in card" v-for="meal in meals.breakfastIn">

                            <h3 class="meal-name">{{ meal.name }}</h3>
                            <p class="meal-description">{{ meal.description }}</p>
                    
                        </div>
                    </div>
                    


                    <div class="meal-section">
                        <h2>Breakfast - Out</h2>

                        <div class="meal-in card" v-for="meal in meals.breakfastOut" :key="meal.name" @click="selectMeal(meal)">
                            
                            <h3 class="meal-name">{{ meal.name }}</h3>
                            <p class="meal-description">{{ meal.description }}</p>
                            <a :href="`${meal.link}`" target="_blank"><p class="menu-link">Menu</p></a>
                        
                        </div>
                    </div> -->
         
                    
                </div>



                <button @click="section = 'choices'">Select</button>

            </div>
            <div v-show="section === 'choices'">
                <h2>Breakfast - Out</h2>

                    <div class="meal-in card" v-for="meal in selected" :key="meal.name" @click="selectMeal(meal)">
                        <div >
                                              
                            <h3 class="meal-name">{{ meal.name }}</h3>
                            <p class="meal-description">{{ meal.description }}</p>
                            <a :href="`${meal.link}`" target="_blank"><p class="menu-link">Menu</p></a>
                        </div>
      
                    
                    </div>

                <button @click="section = 'home'">Back</button>

            </div>
        </div>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


        <script src="site.js"></script>
    </body>
</html>