body {
    background-color: rgb(155, 139, 168);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin: 20px;
}

h1 {
    font-family: 'Fascinate Inline', sans-serif;
}

h2 {
    margin: 20px;
}

h3 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

button {
    /* flex-grow: 1; */
    border-radius: 8px;
    border: 1px solid rgb(61, 60, 60);
    padding: 5px;
    color: black;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.button-box {
    display: flex;
    justify-content: space-evenly;
}

.meal-section {
    background-color: rgba(255, 255, 255, 0.314);
    border: 1px solid rgba(255, 255, 255, 0.687);
    margin: 20px;
    border-radius: 16px;

}

.card {
    border: 1px solid rgb(133, 131, 131);
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.314);
    border-radius: 12px;
}

.menu-link {
    border: 1px solid black;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    

    /* width: 50px;
    height: 50px; */
}
