[v-cloak] {
    display: none;
}

body {
    background-color: rgb(155, 139, 168);
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 18px;
    margin-bottom: 4em;
}
header {
    margin: 20px;
}

h1 {
    font-family: 'Fascinate Inline', sans-serif;
    
}

h2 {
    margin: 20px;
}

h3 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

button {
    /* flex-grow: 1; */
    border-radius: 12px;
    border: 1px solid rgb(61, 60, 60);
    padding: 20px;
    color: black;
    /* height: 2em; */
    min-width: 20%;

}

a {
    text-decoration: none;
    font-weight: bold;
}

.button-box {
    display: flex;
    justify-content: space-evenly;
}

.meal-section {
    background-color: rgba(255, 255, 255, 0.314);
    border: 1px solid rgba(255, 255, 255, 0.687);
    margin: 20px;
    border-radius: 16px;

}



.card {
    border: 1px solid rgb(133, 131, 131);
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.314);
    border-radius: 12px;
}

.menu-link {
    border: 1px solid black;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    color: black;
    

 
}

.selected {
    background-color: rgb(126 101 129);
    color: #ffffff;
    border-color: #ffffff;

}

.selected .menu-link {
    color: #ffffff;
    border-color: #ffffff;
}
